body{
background-image:url("/home/Sem6B10/Desktop/tt.jpg");
background-repeat:no-repeat;
}
h2{
color:orange;
margin-left:100px;
}
p
{
color:red;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:100px;
font-size:large;
}
p1
{
color:yellow;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:20px;
font-size:small;
text-transform:capitalize;
}
p2
{
color:green;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:small;
text-align:right;
letter-spacing:5px;
text-transform:lowercase;
text-indent:10cm;
}
p3
{
color:blue;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:large;
font-weight:bolder;
text-transform:uppercase;
text-indent:2cm;
text-shadow:4px 4px 8px blue;
}
img:hover{
box-shadow:5px 10px;
border:3px dashed yellow;
}
