body{
background-image:url("/home/Sem6B10/Desktop/tt.jpg");
background-repeat:no-repeat;
}
h2{
color:orange;
margin-left:100px;
}
p
{
color:red;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:100px;
font-size:large;
}
p1
{
color:yellow;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:20px;
font-size:small;
text-transform:capitalize;
}
p2
{
color:green;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:small;
text-align:right;
letter-spacing:5px;
text-transform:lowercase;
text-indent:10cm;
}
p3
{
color:blue;
font-style:italic;
font-family:georgia,garamond,serif;
font-size:large;
font-weight:bolder;
text-transform:uppercase;
text-indent:2cm;
text-shadow:4px 4px 8px blue;
}
img:hover{
box-shadow:5px 10px;
border:3px dashed yellow;
moz-opacity:0.4;
filter:alpha(opacity=40);
}
#id1{border-style:dotted;} 
.mycolour{color:green;}

p.three
{
border-style:solid;
border-color:blue;
border-width:2px 10px 4px 20px;
}
p
margin:25px 50px 75px 100px;
}


ody {
background-color:pink;
}
#menu::first-line{
color:#ff0000;

}
div.a
{
background-color:red;
width:300px;
margin:auto;
padding:100px
border:1px dotted red;
opacity:0.5;
}

div.b
{
background-color:pink;
width:300px;
margin:auto;
padding:60px
border:1px dotted red;
opacity:0.5;
}
#grad{background-image:linear-gradient(red,yellow);}

#grad1{background-image:linear-gradient(pink,yellow);}

div.a{
width:100px;
height:100px;
background-color:orange;
transition:width 2s,height 4s;
}
div.a:hover{
width:500px;
height:500px;
}

div.d
{
width:100px;
height:100px;
background:blue;
transition:width 2s,height 2s,transform 2s;
}
div.d:hover{
width:400px;
height:400px;
transform:rotate(2880deg);
}

div{
width:100px;
height:100px;
background-color:orange;
animation-name:example;
animation-duration:5s;
}
@keyframes example{
from {background-color:red;}
to {background-color:yellow;}
}



